<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<link rel="stylesheet/less" type="text/css" th:href="@{/styles/style.less}" />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>CarApi</title>
</head>
<body>



<div id="table">
    <table class="pure-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mark</th>
            <th>Model</th>
            <th>Color</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.getId()}"/>
            <td th:text="${car.getMark()}"/>
            <td th:text="${car.getModel()}"/>
            <td th:text="${car.getColors().getDisplayValue()}"/>
            <td>
                <form action="#" th:action="@{'/remove-car?id={id}'(id=${car.getId()})}" th:method="delete" >
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="button-error pure-button">X</button>
                </form>
            </td>
            </br>
        </tr>
        </tbody>
    </table>
</div>

<div id="forms">
    <form class="pure-form" th:action="@{/add-car}" th:object="${newCar}" method="get">
        <h1 class="form-header">add new</h1>
        <p>Mark: <input type="text" th:field="*{mark}"></p>
        <p>Model: <input type="text" th:field="*{model}"></p>
        <p>
            Color:
            <select name="color">
                <option th:each="colorOpt : ${T(pl.gregorymartin.akademiaspringaw3.model.Colors).values()}"
                        th:value="${colorOpt}" th:text="${colorOpt.displayValue}"></option>
            </select>
        </p>
        <button type="submit" class="button-success pure-button">+</button>
    </form>
    <form class="pure-form" th:action="@{/replace-car}" th:object="${newCar}" method="get">
        <h1 class="form-header">replace</h1>
        <p>Id: <input type="text" th:field="*{id}"></p>
        <p>Mark: <input type="text" th:field="*{mark}"></p>
        <p>Model: <input type="text" th:field="*{model}"></p>
        <p>
            Color:
            <select name="color">
                <option th:each="colorOpt : ${T(pl.gregorymartin.akademiaspringaw3.model.Colors).values()}"
                        th:value="${colorOpt}" th:text="${colorOpt.displayValue}"></option>
            </select>
        </p>
        <button type="submit" class="button-secondary pure-button">Replace Car</button>
    </form>
    <form class="pure-form" th:action="@{/modify-car}" th:object="${newCar}" method="get">
        <h1 class="form-header">modify</h1>
        <p>Id: <input type="text" th:field="*{id}"></p>
        <p>Mark: <input type="text" th:field="*{mark}"></p>
        <p>Model: <input type="text" th:field="*{model}"></p>
        <p>
            Color:
            <select name="color">
                <option th:each="colorOpt : ${T(pl.gregorymartin.akademiaspringaw3.model.Colors).values()}"
                        th:value="${colorOpt}" th:text="${colorOpt.displayValue}"></option>
            </select>
        </p>
        <button type="submit" class="button-secondary pure-button">Modify Car</button>
    </form>
<!--    <form class="pure-form" th:action="@{/remove-car}" th:object="${newCar}" method="get">
        <h1 class="form-header">delete</h1>
        <p>Mark: <input type="text" th:field="*{id}"></p>
        <button type="submit" class="button-error pure-button">Delete Car</button>
    </form>-->
</div>
</body>
</html>
